[data-paste-element|="STATGRID"] {
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    [data-paste-element|="STATGRID"] {
        margin-right: unset !important;
        margin-left: unset !important;
    }
}

[data-paste-element|="STAT"] {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    min-width: 400px !important;
    width: unset !important;
}

@media screen and (min-width: 25rem) {
    [data-paste-element|="STAT"] {
        min-width: 100%;
    }
}

[data-paste-element|="HOVERBTN"] {
    position: absolute;
    top: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}